.page {
  text-align: left;
  position: relative;
}
.loop-label {
  position: absolute;
  flex: auto;
  bottom: 33px;
}
.audio-players {
  margin-top: 5px;
  margin-left: 20px;
}
.controls {
  width: 100%;
  display: flex;
  justify-content: center;
}
.cursor {
  margin-top: 10px;
  width: 70.7%;
  height: 10px;
  position: relative;
}
.line {
  height: 410px;
  width: 1px;
  position: absolute;
  background-color: black;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.line-loop {
  height: 410px;
  width: 1px;
  position: absolute;
  background-color: black;
  z-index: 1;
  animation-name: move;
  animation-duration: 17.7s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}
.circle {
  border-radius: 50px;
  left: -4px;
  width: 10px;
  height: 10px;
  background-color: black;
  position: absolute;
}

@keyframes move {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
