.page {
  text-align: left;
  position: relative;
}
.audio-players {
  margin-top: 5px;
  margin-left: 20px;
}
.controls {
  width: 100%;
  display: flex;
  justify-content: center;
}
.cursor {
  margin-top: 10px;
  margin-left: 20px;
  width: 70%;
  height: 10px;
  position: relative;
}
.line {
  height: 415px;
  width: 1px;
  position: absolute;
  background-color: black;
  z-index: 1;
  align-items: center;
  justify-content: center;
}
.line-move {
  height: 415px;
  width: 1px;
  position: absolute;
  background-color: black;
  z-index: 1;
  animation-name: move;
  animation-duration: 17s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
}
.circle {
  border-radius: 50px;
  left: -4px;
  width: 10px;
  height: 10px;
  background-color: black;
  position: absolute;
}

@keyframes move {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@media (height);
