.audio-block {
  padding: 5px;
  margin-bottom: 10px;
  height: 4.1vh;
  width: 70%;
  position: relative;
}
.checkbox {
  position: absolute;
  right: -60px;
  top: 17.5px;
}
.label {
  font-size: 3;
  position: absolute;
  bottom: 19px;
  left: 8px;
}
.name {
  position: absolute;
  top: 8px;
}
